<!-- app/views/custom_attributes/index.html.erb -->
<h1>Custom Attributes</h1>

<%= link_to 'New Custom Attribute', new_custom_attribute_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @custom_attributes.each do |attribute| %>
      <tr>
        <td><%= attribute.name %></td>
        <td><%= attribute.active %></td>
        <td>
          <%= link_to 'Edit', edit_custom_attribute_path(attribute) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
