<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <title>Login Page</title>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="w-full max-w-sm text-center mt-16">
    <div class="bg-white p-8 rounded shadow-md w-full">
      <h1 class="text-3xl font-bold mb-6">LOGIN</h1>
      <% if session[:user_id] %>
        <%= link_to 'Sign out', logout_path, class: 'text-blue-500 hover:underline' %>
      <% else %>
        <%= link_to 'Sign in with Google', '/auth/google_oauth2', class: 'bg-blue-500 text-white py-2 px-4 rounded' %>
      <% end %>
    </div>
  </div>
</body>
</html>
