<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'tailwind_output', media: 'all' %>
  <title>Login Page</title>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
    <h1 class="text-2xl mb-4">LOGIN</h1>
    <%= button_to 'OAuth', '/auth/provider', method: :post, class: 'bg-blue-500 text-white py-2 px-4 rounded' %>
  </div>
</body>
</html>
