<% if current_user.role == 'program_director' %>
<div id="search_results" class="border border-black bg-gray-100 mb-8 rounded-xl">
  <% if students.any? %>
      <% students.each do |student| %>
        <%= link_to student, data: { controller: "modals", action: "modals#close" }, class: "flex pl-3 pb-1 pt-1 hover:bg-gray-300 rounded-xl" do %>
          <%= student.name %>
        <% end %>
      <% end %>
  <% else %>
    <p class="pl-3">No students found</p>
  <% end %>
</div>
<% else %>
  <div class="mx-auto md:w-2/3 w-full">
    <h1 class="font-bold text-4xl">Permission denied.  Please return to the homepage.</h1>
</div>
<% end %>